div, p{
    margin: 0px;
    padding: 0px;
}

#caixa{
    width: 100%;
    height: 600px;
    border: solid 1px black;
    /* Inserir imagem de fundo */
    background-image: url(../img/2.png);
    
    /* Ajustar a repetição da imagem de fundo 
        no-repeat ~não repete a imagem
        repeat-x ~repete apenas na horizontal/eixo x
        repeat-y ~repete apenas na vertical/eixo y */
    background-repeat: no-repeat;
    
    /* Ajusta a posição da imagem de fundo, podendo usar um valor ou dois valores de posicionamento */
    background-position: center bottom;
    
    /* Ajusta o tamanho da imagem, sendo o 1º valor a largura, e o 2º valor a altura (em px ou %) 
        outros elementos:
        contain: tenta ajustar a imagem mais proximo do tamanho do elemento (mas não fica 100% do tamanho da caixa)
        cover: aplica zoom até que a imagem caiba na "caixa"*/
    background-size:cover;
    
    /* fixa a imagem no fundo e faz com que a rolagem do site passe por cima da imagem criando um efeito de transição ps: AMEI//usra img grande e usar o cover */
    background-attachment: fixed;
    
    /* Altera a opacidade de um elemento, porém todos os elementos filho do elemento aplicado támbem herdaram a opacidade */
    /*    opacity: 0.5; (de 0 a 1) */
 
}

#fundo{
    width: 100%;
    height: 100%;
    /* Aplica um efeito de transparência para qualquer cor ao envés do opacity 
     obs: a transparência do rgba não atrapalha os elementos filhos */
    background-color: rgba(0,0,0,0.7);
}

#fundo p{
    width: 600px;
    height: 400px;
    background-color: aliceblue;
    font-family: "comic sans ms";
    font-size: 26px;
    background-color: rgba(255,197,191,0.5);
    color:aliceblue;
}

#cabecalho{
    width: 100%;
    height: 500px;
    background-color: aqua;
}

#conteudo{
    width: 100%;
    height: 900px;
    background-color: darkblue;
}

#logo, #logo img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition: 2s;
}

#logo img:hover{
    border-radius: 0px;
    transition: 2s;
}








