/* Exemplo de seletor pela tag ~padrão de formatação do trabalho todo*/    
h1 {
    font-family: verdana; 
    font-size:26px; 
    color:firebrick;  
}
p{
    font-family: sans-serif; 
    font-size:18px; 
    text-align: center;  
}

/* Exemplo de seletor por ID (identificação) ~Somente quando se trabalha um único elemento */ 
#subtitulo {
    /* o Comando font-family disponibiliza outras fontes, caso alguma não abra. 
    obs: se a escrita da fonte for composta, é obrigatório o uso de aspas*/
    font-family: "Comic Sans MS", arial, verdana, century gothic;
    font size: 20px;
    /* Negrito */
    font-weight: bold;
    /* itálico */
    font-style: italic;
    /* sublinhado (risco em baixo) */
    text-decoration: underline;
    /* risco em cima */
     text-decoration: overline;
    /* risca o texto*/
    text-decoration: line-through;
    /* tira a linha do texto*/
    text-decoration: none;
    color:crimson;
    /* cria uma caixa */
    width: 200px;
    height: 40px;
    border: solid 3px mediumspringgreen;
    text-align: center;
    background-color: black;
    transition: 2s;
}
/* muda a cor ao passar o mouse*/
#subtitulo:hover{
    background-color: #ffffff;
    color: black;
    /*muda o cursor do mouse*/
    cursor: pointer;
    transition: 2s;
}
/* Exemplo de seletor por classe ~quando se trabalha com dois ou mais elementos */
.subtitulo_destaque{
    font-family: arial;
    font-size: 23px;
    color:forestgreen;
}

    /* formatar uma palavra do texto - abre a tag span*/
.destaque{
    font-weight: bold;
    border: solid 1px #ff0000;
    background: black;
    color: azure;
}
