/* Todos os elementos que ficam lado a lado devem obrigatoriamente terem o comando float */

/*Reset dos elementos do html*/
ul,li,h1,h2,p,body,div{
    margin: 0px;
    padding: 0px;
}

#caixa {
    width: 250px;
    height: 250px;
    background-color:darkslategrey;
    /* Serve para alinhar elementos lado a lado */
    float: left;
    /* Sempre mexer no primeiro elemento */
    margin-right: 50px;
}
#caixa2 {
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    float: left;
}

#conteudo{
    width: 600px;
    height: 250px;
    background-color:darkslateblue;
}

/* É obrigatório definir o tamanho da lista ~ul/ol */
#lista{
   width: 550px;
    height: 100px;
    background-color:darkgrey;
    
}

/* Site para pegar icone: iconfinder */
#lista li{
    margin-left: 25px;
/* ../ ~volta uma pagina, pois o arquivo esta em uma pasta diferente */
    list-style: url(../icones/01.png);
    width: 100px;
    height: 40px;
    background-color: antiquewhite;
    float: left;
}

#lista li:hover{
    background-color:crimson;
}















