/* Site para pesquisar: W3Schools.com e Maujor */

/*Seletor universal - padroniza uma estilização em todo o site */
*{
    font-family: cursive;
    font-size: 17px;
    color: currentColor;
}

/* Compartilhamento de estilização */
h1, h2{
    color:darkred;
    font-size: 22px;
    text-align: center;
}

h2, h3{
    font-size: 19px;
}

.titulos{
    /* Padroniza a saída da informação na tela:
    Captalize: Apenas a primeira letra da palavra em maiuscula
    uppercase: Saída em maiusculo
    lowercase: Saida em minusculo */
    text-transform: lowercase; 
    
    /* Espaçamento entre as letras */
    letter-spacing: 15px;
    
    /* Espaçamento entre as palavras */
    word-spacing: 10px;
    
    /* Sombramento no texto
        Valor 1 - distancia da esquerda para direita
        Valor 2 - distancia de cima para baixo
        valor 3 - intensidade da sombra
        valor 4 - cor da sombra 
    */
    text-shadow: 2px 2px 3px black;
}

/* Pseudo elemento para estilizar apenas a primeira letra da sentença*/
.titulos::first-letter{
    text-transform: uppercase;
    
}

.textos::first-letter{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    
    /*Paragrafo*/
    margin-left: 20px;
}

/* Pseudo elemento para estilizar apenas a primeira linha */
.textos::first-line{
    font-style: italic;
    color:cadetblue
}

/* Ctrl + ; - Transforma e destransforma em comentário */

/* after - Pseudo elemento para estilizar algo após determinado conteúdo 
before - antes */
.textos::after{
    content: "Saiba mais";
    width: 100px;  
    height: 30px;
    background-color:darkslategray;
    text-align: center;
    color:aliceblue;
}

/* Para padronizar estilização em todos os navegadores:
        comando
        -webkit-comando
        -moz-comando */

/*Pseudo para estilizar um conteudo que o usuário digitar*/
.textos::selection, -moz-selection{
    background-color:blueviolet;
    color: white;
}

.textos{
/* Espaçamento entre linhas (pode ser em linha ou px) */
    line-height: 1.5;
    /* largura para o elemento/objeto */
    width: 460px;
    /* Alura para o elemento/objeto */
    height: 135px;
    /* Borda 
        Tipos: dotted - borda pontilhada 
                dashed - borda tracejada
                solid - normal
                double - borda dupla
                groove - borda dupla com cores diferentes (borda escura primeiro)
                ridge - borda dupla com cores diferentes (borda clara primeiro)
                inset- borda dupla com cores diferentes (escura na esquerda e em cima)
                outset - borda dupla com cores diferentes (escura na direita e em baixo) 
    */
    
    /* Ctrl + d -Copia a linha onde o cursor está */
    border: groove 2px #000000;
    /* Cor de fundo */
    background-color:antiquewhite;
    /* Centraliza o objeto */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* margin: x ~aplica o mesmo valor para os quatro lados 
        ~margin: x x x x ~aplica os valores do top no sentido horário~ Não usar */
    /* Padroniza a distancia de um elemento p/ o outro */
    margin-bottom: 40px;
    /* Margem interna é chamada de: padding 
        Ambas as margens existem em todos os elementos automaticamente*/ 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;  
    
    /* Arredonda os quatro cantos do objeto 
        Pode-se aplicar valores diferentes para cada canto
        Ex: border-radius: x x x x ;*/
    border-radius: 20px;
}

/* Elemento pai e elemento filho */
.tabela{
    width: 500px;
    height: 500px;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
}
.tabela tr{
  height: 250px
}
.tabela tr td {
  width: 250px;
  border: solid 1px black;           
}
